* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.589);
    font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  background-image: url(../img/Untitled\ design\ \(1\).png);
    background-size: cover;
    background-attachment: fixed;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 30px;
    background-color: rgb(109, 22, 0);
    flex-wrap: wrap;
    font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

ul li {
    background-color: #ffffffb9;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects h2 {
    font-size: 40px;
    text-decoration: underline;
    margin: 20px;
}

.projects .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 15px;
    background-color: rgba(109, 22, 0, 0.822);
    box-shadow: 1px 1px 100px 10px #0000008c;
    transition: all 1s ease;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.card_item:hover {
    margin: 40px;
    transition: all 1s ease;
    box-shadow: 1px 1px 100px 60px #911d00;
}

.card_item h3 {
    font-family: "Marvel", sans-serif;
    font-size: 35px;
  font-weight: 700;
  font-style: normal;
}

.card_item img {
    width: 200px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(109, 22, 0);
    color: #fff;
    font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer a {
    color: #e6945e;
}

@media screen and (min-width: 740px) {

    header nav ul li {
        text-align: center;
        padding: 18px;
        width: 10%;
    }

    main {
        font-size: 19px;
    }

    main h1 {
        font-size: 50px;
    }


    footer {
        font-size: 20px;
    }

}

@media screen and (min-width: 1000px) {

    header nav ul li {
        text-align: center;
        padding: 18px;
        width: 10%;
    }

    main {
        font-size: 19px;
    }

    .projects h2 {
        margin-bottom: 30px;
        font-size: 50px;
    }

    .projects .cards {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card_item {
        width: 40vw;
    }

    .card_item img {
        width: 300px;
    }
    main h1 {
        font-size: 50px;
    }


    footer {
        font-size: 20px;
    }

}