<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <!-- Google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">About me</a></li>
                <li><a href="./skills.html">Skills</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contact me</h1>

        <section class="socials">
            <a href="https://github.com/Jacksonpirlo" target="_blank"><img src="../assets/img/github-brands.svg" alt=""></a>
            <a href="https://www.instagram.com/jf_cube/?next=%2F" target="_blank"><img src="../assets/img/instagram-brands.svg" alt=""></a>
            <a href="https://wa.me/3052984481" target="_blank"><img src="../assets/img/whatsapp-brands (1).svg" alt=""></a>
        </section>

        <form action="" method="post">
            <label for="">Name</label>
            <input type="text" placeholder="Name here">

            <label for="">Gmail</label>
            <input type="email" name="" id="" placeholder="example@mgail.com">

            <textarea name="" id=""></textarea>
            <input class="btn" type="submit" value="Send">
        </form>
    </main>

    <footer>
        Made with <a href="https://github.com/Jacksonpirlo" target="_blank"></a> by <a href="">Jackson Florez</a>
    </footer>
</body>
</html>