<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/projects.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Google fonts -->
    <title>Projects</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li><a href="../index.html">About me</a></li>
                <li><a href="./skills.html">Skills</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="projects">
            <h2>Projects</h2>
            <div class="cards">
                <div class="card_item">
                    <a href="https://github.com/Jacksonpirlo/GreenGables" target="_blank"><img src="../assets/img/project_one.png" alt="Project Green Gables"></a>
                    <h3>Greeen Gables</h3>
                    <p>This project was created to encourage people to eliminate psychoactive substances. </p>
                </div>


                <div class="card_item">
                    <a href="https://jacksonpirlo.github.io/Portafolio_v2/" target="_blank"><img src="../assets/img/project_three.png" alt=""></a>
                    <h3>Portfolio</h3>
                    <p>This is my personal portfolio, I use this web to find a future job</p>
                </div>

                <div class="card_item">
                    <a href="https://github.com/Jacksonpirlo/marvelAPI" target="_blank"><img src="../assets/img/project_four.png" alt=""></a>
                    <h3>Marvel Hero</h3>
                    <p>This web use a Marvel API </p>
                </div>

                
            </div>
        </section>
    </main>

    <footer>
        Made with <a href=""></a> by <a href="https://github.com/Jacksonpirlo" target="_blank">Jackson Florez</a>
    </footer>
</body>
</html>