<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Css local -->
     <link rel="stylesheet" href="../assets/css/skills.css">
    <title>Skills</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">About me</a></li>
                <li><a href="./skills.html">Skills</a></li>
                <li><a href="./projects.html">Projects</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="skills_container">
            <h1>My Skills</h1>
            <div class="skills_items">
                <img src="../assets/img/HTML5.png" alt="HTML5">
                <img src="../assets/img/CSS3.png" alt="CSS3">
                <img src="../assets/img/JavaScript.png" alt="JavaScript">
                <img src="../assets/img/Bootstrap.png" alt="Bootstrap5">
                <img src="../assets/img/Node.js.png" alt="NodeJS">
                <img src="../assets/img/express-white.png" alt="ExpressJS">
                <img src="../assets/img/NPM.png" alt="NPM">
                <img src="../assets/img/Python.png" alt="Python">
                <img src="../assets/img/SQLite.png" alt="SQLite3">
                <img src="../assets/img/Vue.js.png" alt="VueJS">
                <img src="../assets/img/Git.png" alt="Git">
                <img src="../assets/img/octocat.png" alt="Github">
            </div>
        </section>
    </main>

    <footer>
        Made with <img src="../assets/img/heart.svg" width="15px" alt="Heart"> by <a href="https://github.com/Jacksonpirlo" target="_blank">Jackson Florez</a>
    </footer>
</body>
</html>